.cartpage{
    background-color:black;
    width: auto;
    height: auto;
}
.rightsidehalfproductcart{
    color:white;
}
.Add{
    width:60px;
    height:60px;
}
.Remove{
    width:60px;
    height:60px;
}

